@tailwind base;
@tailwind components;
@tailwind utilities;

Masonry layout
.masonry {
    column-count: 1;
    column-gap: 1.5rem;
  }
  
  @media(min-width: 640px) {
    .sm\:masonry-sm {
      column-count: 2;
    }
  }
  
  @media(min-width: 768px) {
    .md\:masonry-md {
      column-count: 3;
    }
  }
  
  @media(min-width: 1024px) {
    .lg\:masonry-lg {
      column-count: 3;
    }
  }
  
  /* Individual masonry items */
  .masonry > * {
    margin-bottom: 1.5rem;
    display: inline-block;
    width: 100%; /* Adjusts with content */
    break-inside: avoid; /* Prevents the cards from being cut */
  }
  
  /* Dynamically adjusting the card's width */
  .testimonial-card {
    width: auto; /* Allows the card to take up only the space needed by the text */
    max-width: 100%; /* Ensures it doesn't exceed its parent width */
    display: inline-block;
  }
  

  .custom-width {
    max-width: 40rem; /* Adjust to your desired width */
  }
  